.boardCard {
    min-width: 300px;
    min-height: 250px;
    border-radius: 4px;
  }
  
  .boardCard:hover {
    cursor: pointer;
  }
  
  .boardImg {
    height: 200px;
    width: 100%;
    background-size: cover;
    transition: transform .2s;
  }

  @media only screen and (max-width: 500px) {
    .boardCard {
      min-width: 85%;
    }
  }